<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeya Karim</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://down.imgspng.com/download/0720/letter_p_PNG117.png">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <ul class="list-item">
                <li>
                    <a id="#top" href="#" style="color: cyan;">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skill">Skill</a>
                </li>
                <li>
                    <a href="#work-experience">Experience</a>
                </li>
                <li>
                    <a href="#education">Eduction</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div id="menu">
            <i class="fas fa-bars"></i>
        </div>

        <div>
            <ul class="vertical-list-item list-item" data-toggle="false">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skill">Skill</a>
                </li>
                <li>
                    <a href="#work-experience">Experience</a>
                </li>
                <li>
                    <a href="#education">Eduction</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>


        <div id="user-name">
            <h1 class="name">Zeya Karim</h1>
            <p class="designation">Mern Stack Developer</p>
        </div>

        <div>
            <ul id="social-icons">
                <li>
                    <a href="https://www.linkedin.com/in/zeya-karim-a1362a203">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/zeya.karim.79">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/md_zeya_karim">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/zeyakarim">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section id="about">
            <div id="image">
                <img src="https://avatars.githubusercontent.com/u/109763547?s=400&u=b1954fa5e2a65b2e040ade7d86ade01f4ce10576&v=4" alt="" width="200px" height="200px">
            </div>
            <div id="about-para">
                <p>I am a <span class="text-highlight">Full Stack Software Developer</span>. I am a recent graduate with a <span class="text-highlight">B.Tech Degree specialized in Computer Science Engineering from Yamuna Institute Of Engineering & Technology</span>. A quick learner with proven abilities to work on different technologies quite efficiently. Motivated towards learning new skills and applying them to solve real-world problems. Looking forward to working in a challenging environment with a high growth trajectory.</p>
            </div>
        </section>

        <section id="skill">
            <div class="section-heading">
                <h1>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span style="margin-left: 10px;">
                        SKILLS
                    </span>
                </h1>
            </div>

            <div id="skill-container">
                <div class="skill-progress">
                    <div class="skill-name seventy-percent" data-bar-width="70" data-toggle="false">
                        <span>HTML</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-percent" data-bar-width="50" data-toggle="false">
                        <span>EJS</span>
                    </div>
                </div>


                <div class="skill-progress">
                    <div class="skill-name sixty-percent" data-bar-width="60" data-toggle="false">
                        <span>CSS</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-five-percent" data-bar-width="55" data-toggle="false">
                        <span>JavaScript</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-percent" data-bar-width="50" data-toggle="false">
                        <span>Python</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name sixty-percent" data-bar-width="60" data-toggle="false">
                        <span>NodeJs</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-five-percent" data-bar-width="55" data-toggle="false">
                        <span>MongoDB</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name seventy-percent" data-bar-width="70" data-toggle="false">
                        <span>Express</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-five-percent" data-bar-width="55" data-toggle="false">
                        <span>GIT</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-name fifty-percent" data-bar-width="50" data-toggle="false">
                        <span>ReactJS</span>
                    </div>
                </div>

            </div>
        </section>

        <section id="work-experience">
            <div class="section-heading">
                <h1>
                    <i class="fas fa-briefcase"></i>
                    <span style="margin-left: 10px;">
                        WORK EXPERIENCE
                    </span>
                </h1>
            </div>

            <div id="timeline-container">
                <div id="timeline-divider">
                    <div id="timeline-traveller">
                        <div>
                            <i class="fa-solid fa-plane"></i>
                        </div>
                    </div>
                </div>

                <div class="timeline-boxes">
                    <div class="timeline-box">
                        <div class="heading">
                            <div>
                                <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                            </div>
    
                            <div>
                                <h3 class="m0 designation">Teaching Assistant</h3>
                                <h4 class="m0 company-name">Coding Ninjas</h4>
                                <h5 class="m0 duration">July 22 - Present</h5>
                            </div>
                        </div>

                        <div class="job-description text-justify">
                            <p>I am a part of the Coding Ninjas T.A Team. As a team, our main aim is to helping student to debug their code, projects and make them comfortable with DBMS. How to write the code logic in simple way.</p>
                        </div>
                    </div>

                    <div class="timeline-box">
                        <div class="heading">
                            <div>
                                <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                            </div>
    
                            <div>
                                <h3 class="m0 designation">Teaching Assistant</h3>
                                <h4 class="m0 company-name">Coding Ninjas</h4>
                                <h5 class="m0 duration">July 22 - Present</h5>
                            </div>
                        </div>

                        <div class="job-description text-justify">
                            <p>I am a part of the Coding Ninjas T.A Team. As a team, our main aim is to helping student to debug their code, projects and make them comfortable with DBMS. How to write the code logic in simple way.</p>
                        </div>
                    </div>

                    <div class="timeline-box">
                        <div class="heading">
                            <div>
                                <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                            </div>
    
                            <div>
                                <h3 class="m0 designation">Teaching Assistant</h3>
                                <h4 class="m0 company-name">Coding Ninjas</h4>
                                <h5 class="m0 duration">Feb 22 - June 22</h5>
                            </div>
                        </div>

                        <div class="job-description text-justify">
                            <p>I am a part of the Coding Ninjas T.A Team. As a team, our main aim is to helping student to debug their code, projects and make them comfortable with DBMS. How to write the code logic in simple way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="education">
            <div class="section-heading">
                <h1>
                    <i class="fas fa-graduation-cap"></i>
                    <span style="margin-left: 10px;">
                        EDUCATION
                    </span>
                </h1>
            </div>

            <div id="timeline-container">
                <div id="timeline-divider">
                    <div id="timeline-traveller">
                        <div>
                            <i class="fas fa-car-side"></i>
                        </div>
                    </div>
                </div>

                <div class="timeline-boxes">
                    <div class="timeline-box">
                        <div>
                            <div>
                                <h3 class="m0 designation">B.Tech (Computer Science)</h3>
                                <h4 class="m0 company-name">Yamuna Institute Of Engineering & Technology</h4>
                                <h5 class="m0 duration">August 17 - June 21</h5>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-box">
                        <div>
    
                            <div style="text-align: right;">
                                <h3 class="m0 designation">Class XII</h3>
                                <h4 class="m0 company-name">K.S.T College, Salempur, Bihar Sharif</h4>
                                <h5 class="m0 duration">March 2015 - April 2017</h5>
                            </div>
                        </div>

                    </div>

                    <div class="timeline-box">
                        <div class="heading">
                            <div>
                                <h3 class="m0 designation">Class X</h3>
                                <h4 class="m0 company-name">National High School + 2, Shekhana,Bihar Sharif</h4>
                                <h5 class="m0 duration">Feb 2013 - March 2015</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio">
            <div class="section-heading">
                <h1>
                    <i class="fa-solid fa-list"></i>
                    <span style="margin-left: 10px;">
                        PORTFOLIO
                    </span>
                </h1>
            </div>
            <div class="portfolio-project-container">
                <div class="project">
                    
                    <img src="https://user-images.githubusercontent.com/103394954/180294326-d085d07c-2c0d-4733-b96d-932a78a83396.png" alt="" width="320px" height="275px">

                    <div class="hide-text">
                        <a href="http://codeials.com">
                            <p>Codeial: A Social Media Platform For Developers</p>
                        </a>
                    </div>
                </div>
                
    
                <div class="project">
                    <img src="https://imageio.forbes.com/specials-images/dam/imageserve/1092571024/960x0.jpg?format=jpg&width=960" alt="" width="320px" height="275px">
                    <div class="hide-text">
                        <a href="https://github.com/zeyakarim/Todolistapp">
                            <p>Todo List App Make Using NodeJs, MongoDB & Express</p>
                        </a>
                    </div>
                </div>

                <div class="project">
                    <img src="https://user-images.githubusercontent.com/103394954/179747466-16b469b5-2601-4738-8cd5-9d233b5733cf.png" alt="" width="320px" height="275px">
                    <div class="hide-text">
                        <a href="https://github.com/zeyakarim/Music-Player">
                            <p>Music Player Website Make Using HTML, CSS, JavaScript & JQUERY</p>
                        </a>
                    </div>
                </div>

                <div class="project">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/001/871/577/small/contact-list-apps-for-mobile-and-reminders-equipped-with-books-and-smartphones-illustration-concept-can-be-use-for-landing-page-template-ui-ux-web-mobile-app-poster-banner-website-free-vector.jpg" alt="" width="320px" height="275px">
                    <div class="hide-text">
                        <a href="https://github.com/zeyakarim/Music-Player">
                            <p>Contact List Make Using NodeJs,Express & MongoDB</p>
                        </a>
                    </div>
                </div>

                <div class="project">
                    <img src="https://www.newbreedrevenue.com/hubfs/shutterstock_607080881%20%281%29.jpg" alt="" width="320px" height="275px">
                    <div class="hide-text">
                        <a href="https://github.com/zeyakarim/Music-Player">
                            <p>Blogging Website Make Using HTML,CSS & JavaScript</p>
                        </a>
                    </div>
                </div>
                
                <div class="project">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png" width="320px" height="275px">
                    <div class="hide-text">
                        <a href="https://github.com/zeyakarim/Music-Player">
                            <p>New Project Comming Soon</p>
                        </a>
                    </div>
                </div>  
            </div>
        </section>
    </main>


    <footer>
        <section id="contact">
            <div class="section-heading color">
                <h1>
                    <i class="far fa-address-card"></i>
                    <span style="margin-left: 10px;">
                        CONTACT
                    </span>
                </h1>
            </div>

            <div id="contact-container">
                <div id="contact-form">
                    <form action="/user" method="post" id="form">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="comment" id="" cols="30" rows="3" placeholder="Message"></textarea>
                        <div style="text-align: center; margin: 30px;">
                            <button type="submit">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>

                <div id="contact-touch">
                   <div>
                        <h3>My Address</h3>
                        <p>
                            <i class="fa-solid fa-location-dot"></i> <span style="margin-left: 5px;">Bihar, India</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-mobile-screen-button"></i> <span style="margin-left: 5px;">8570877219</span>
                        </p>
                        <p>
                            <i class="far fa-envelope"></i> <span style="margin-left: 5px;">zeyakarim9@gmail.com</span>
                        </p>
                    </div>

                    <div>
                        <p class="resume">
                           <a href="https://drive.google.com/file/d/1qSN6zUk2JVrmVrnDJJ21v3xTs0bi1tef/view?usp=sharing">
                                <i class="fa fa-download"></i> <span>Download Resume</span>
                           </a>
                        </p>
                    </div>
                </div>
            </div>

            <div id="backTotop">
                <a href="#">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </div>

            <div id="connect">

                <ul id="social-icons">
                    <li>
                        <a href="https://www.linkedin.com/in/zeya-karim-a1362a203">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/zeya.karim.79">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/md_zeya_karim">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/zeyakarim">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>